<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="index.html">Home :3</a>
      <a href="about.html">About :0</a>
    </nav>
    <h1>welcome to the basic about page!! 🎉</h1>
    <p>
      the purpose of this project is to create a simple web server using Node.js
    </p>
    <button id="sillyButton">Click Me ( ≖‿ ≖ )</button>
    <img
      id="sillyPic"
      src="/views/images/16749-devious.png"
      style="display: none"
    />
    <p id="trickP" style="display: none">haha!! made u click me</p>
  </body>
  <script src="app/app.js"></script>
</html>
