<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="index.html">Home :3</a>
      <a href="about.html">About :0</a>
    </nav>
    <h1>welcome to my basic site!! 🎉</h1>
    <p>heres a silly emoji</p>
    <img
      src="images/a7d4ee632a89e8b7bea6f5ebe5312428.jpg"
      alt="silly blue emoji"
    />
  </body>
</html>
